{% extends "todo/base.html" %}
{% block content %}
<form class="d-flex" method="GET">
    <input type="text" class="form-control me-2" placeholder="Search" aria-label="Search" name="search-area"
        value="{{ search_input }}">
    <input class="btn bg-light " type="submit" value="Search">
</form>
<button type="button" class="mt-3 mb-3 btn btn-outline-light"><a class="text-white " style="text-decoration:none"
        href="{% url 'note-create' %}">Add note</a></button>


{% for group in all_groups %}
    <a href="{% url 'todo-home-group' group.id %}">{{ group.title }}</a>
{% empty %}
    <h1 class="text-white">No items in the list</h1>
{% endfor %}
<a href="{% url 'todo-home' %}">All groups</a>

<ul class="list-group">
    {% if selected_group %}
        <h1>Group:{{ selected_group.title }}</h1>
    {% endif %}

    {% for note in object_list %}
    <li class="list-group-item" style="background: rgba(77, 73, 73, 0.5);">
        <div  class="row border rounded-3 border-1">
            <div class="col-10">
                <h1  class="text-white" >{{ note.title }}</h1>
                <h2  class="text-white">{{ note.content }}</h2>
            </div>
            <div class="col-2 ">
                <button style="width: 100%; background:#8ba3c5;" type="button" class="mt-3 mb-3 btn  btn-outline-dark d-block ">
                    <a href="{% url 'note' note.id %}"  style="text-decoration:none" class="text-black">View</a>
                </button>
                <button style="width: 100%; background: #96c583" type="button" class="mt-3 mb-3 btn  btn-outline-dark d-block ">
                    <a href="{% url 'note-update' note.id %}"  style="text-decoration:none" class="text-black">Update Note</a>
                </button>
                <button style="width: 100%; background: #d7c3d4" type="button" class="mt-3 mb-3 btn  btn-outline-dark d-block">
                    <a href="{% url 'note-delete' note.id %}"  style="text-decoration:none" class="text-black">Delete Note</a>
                </button>

            </div>

        </div>
    </li>
    {% empty %}
        <h1 class="text-white">No items in the list</h1>
    {% endfor %}
</ul>
{% endblock content %}