{% extends "todo/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
     <a href="{% url 'todo-home' %} ">Go back</a>
    <form method="POST" class='container pt-3' action="">
        {% csrf_token %}

        <div class="card bg-black text-white">
            <div class="card-header">
                Element deletion
            </div>
            <div class="card-body ">
                <h5 class="card-title"> Are you sure to delete this task? </h5>
                <p class="card-text">Task: {{ object }}. </p>
                <a href="{% url 'todo-home' %}" class="btn btn-success">Cancel</a>
                <input value="Agree" type="submit" href="#" class="btn btn-danger" />
            </div>
        </div>
    </form>
{% endblock content %}